body {
  background-color: #fff;
  color: #333;
  font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 1em;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.box {
  width: 500px;
  padding: 0.5em;

  border: 5px solid lightblue;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 40px;
}

h2 {
  width: 200px;
  background-image: url(/images/star.png), url(/images/star.png);
  background-repeat: no-repeat, repeat-y;
  background-position: left, right;
}
