<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/grid-one-styles.css">
    <title>Grid Layout One</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Go Home</a></li>
                <li><a href="grid-two.html">Next</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="grid">
            <div>One</div>
            <div>Two</div>
            <div>Three</div>
            <div>Four</div>
        </div>
    </main>
</body>
</html>