<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/grid-two-styles.css">
    <title>Grid Layout Two</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Go Home</a></li>
                <li><a href="grid-three.html">Next</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="grid">
            <div class="item1">One</div>
            <div class="item2">Two</div>
        </div>
    </main>
</body>
</html>