<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/grid-three-styles.css">
    <title>Grid Layout Three</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Go Home</a></li>
                <li><a href="grid-four.html">Next</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="grid">
            <div class="one">One</div>
            <div class="two">Two</div>
            <div class="three">Three</div>
            <div class="four">Four</div>
        </div>
    </main>
</body>
</html>