<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>Grid Skill Test</title>
</head>
<body>
    <header>
        <h1>Grid Skill Test</h1>
        <nav>
            <ul class="nav">
               <li><a href="grid-one.html">Grid Layout One</a></li>
               <li><a href="grid-two.html">Grid Layout Two</a></li>
               <li><a href="grid-three.html">Grid Layout Three</a></li>
               <li><a href="grid-four.html">Grid and Flex Layout 4</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>