<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/flex-four-styles.css">
    <title>Flexbox Skill Test - Four</title>
</head>
<body>
    <header>
        <ul class="nav">
            <li><a href="index.html">Go Home</a></li>
        </ul>
    </header>
    <main>
        <ul>
            <li>Turnip</li>
            <li>greens</li>
            <li>yarrow</li>
            <li>ricebean</li>
            <li>rutabaga</li>
            <li>endive</li>
            <li>cauliflower</li>
            <li>sea lettuce</li>
            <li>kohlrabi</li>
            <li>amaranth</li>
        </ul>
    </main>
</body>

</html>