<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/flex-one-styles.css">
    <title>Flexbox Skill Test - One</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="index.html">Go Home</a></li>
            <li><a href="flex-two.html">Next</a></li>
        </ul>
    </header>
    <main>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/products">Our Products</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </main>
</body>
</html>