<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>Flexbox Skill Test</title>
</head>
<body>
    <header>
        <h1>Flexbox Skill Test</h1>
        <ul>
            <li><a href="flex-one.html">Flex Layout One</a></li>
            <li><a href="flex-two.html">Flex Layout Two</a></li>
            <li><a href="flex-three.html">Flex Layout Three</a></li>
            <li><a href="flex-four.html">Flex Layout Four</a></li>
        </ul>
    </header>
</body>
</html>