body {
  background-color: #fff;
  color: #333;
  font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 1em;
  margin: 0;
}

.box {
  inline-size: 150px;
  block-size: 150px;

  border-inline-start: 5px dotted blue;
  border-inline-end: 5px solid grey;
  border-block-start: 5px solid rebeccapurple;
  border-block-end: 5px dotted red;

  padding-inline-start: 0;
  padding-block-start: 40px;
  margin-block-end: 30px;
}

.vertical {
  writing-mode: vertical-rl;
}
