<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/position-one-styles.css">
    <title>Position One</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Go Home</a></li>
                <li><a href="position-two.html">Next</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <p>Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo
                melon azuki bean garlic.</p>
            <div class="target">Target</div>
            <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard
                greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.</p>
        </div>
    </main>
</body>
</html>