body {
  font-family: Arial, Helvetica, sans-serif;
  width: 900px;
  margin: 0 auto;
}

/* Basic table layout */
table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

th,
td {
  padding: 0.5rem;
}

/* Sizing columns */
thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2),
thead th:nth-child(3) {
  width: 10%;
}

thead th:nth-child(4) {
  width: 50%;
}

/* Aligning headings and data columns with text */
thead th:nth-child(1),
thead th:nth-child(4),
tbody tr th,
tbody tr td:nth-child(4) {
  text-align: left;
}

/* Aligning headings and data columns with numbers */
thead th:nth-child(2),
thead th:nth-child(3),
tbody tr td:nth-child(2),
tbody tr td:nth-child(3),
tfoot tr th {
  text-align: right;
}

/* Creating borders */
tbody tr:nth-child(odd) {
  background-color: rgba(205, 205, 205, 0.3);
}

thead {
  border-top: 1px solid grey;
}

tbody,
tfoot {
  border-bottom: 1px solid grey;
}
