<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/floats-two-styles.css">
    <title>Floats Two</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Go Home</a></li>
                <li><a href="floats-three.html">Next</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="box">
            <div class="float">Float</div>
            <p>This sentence appears next to the float.</p>
            <p class="below">Cause this sentence to appear below the float.</p>
        </div>
    </main>
</body>
</html>