<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>Floats Skill Test</title>
</head>
<body>
    <header>
        <h1>Floats Skill Test Menu</h1>
        <nav>
            <ul>
                <li><a href="floats-one.html">Floats One</a></li>
                <li><a href="floats-two.html">Floats Two</a></li>
                <li><a href="floats-three.html">Floats Three</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>