#outer div ul .nav a {
  background-color: blue;
  padding: 5px;
  display: inline-block;
  margin-bottom: 10px;
}

/* Resetting the background color to white*/
#outer div ul .nav a {
  background-color: unset;
}

div div li a {
  color: yellow;
}
