/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header,
section,
aside,
nav,
footer {
  padding: 20px;
}

/* header and footer */

header,
footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

/* Font Faces */
@font-face {
  font-family: "open_sansregular";
  src: url("fonts/opensans-regular-webfont.woff2") format("woff2"),
    url("fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "quicksandbold";
  src: url("fonts/quicksand-bold-webfont.woff2") format("woff2"),
    url("fonts/quicksand-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* General text styling */
html {
  font-size: 10px;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}

h1,
h2 {
  font-family: "quicksandbold";
}

p,
ul,
ol {
  font-size: 1.5rem;
  font-family: "open_sansregular";
}

section p {
  line-height: 1.5;
}

section h2 + p {
  text-indent: 20px;
}

h1,
h2 {
  letter-spacing: 2px;
}

section p {
  letter-spacing: 1px;
  word-spacing: 1px;
}

/* Links */
a {
  color: #a66;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active,
a:focus {
  outline: none;
  background-color: #a66;
  color: #fff;
}

a[href*="https"] {
  background-image: url("images/external-link-52.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  padding-right: 2rem;
}

/* Lists */
ul,
li {
  line-height: 1.5;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: upper-roman;
}

nav li {
  list-style-type: none;
  text-align: center;
  margin: 1rem 0;
  line-height: 3;
  border: 1px solid #a66;
}

nav a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  font-size: 2rem;
  color: #a66;
}

nav li a:hover,
nav li a:focus,
nav li a:active {
  background-color: #a66;
  color: white;
}
